*{
    margin:0;
    padding:0;
   

}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
     min-height: 100vh;
     background: linear-gradient(to right, rgb(1, 129, 165)  , rgb(145, 129, 165), rgb(0, 0, 0));
     background-repeat: no-repeat;
     
}



.page-logo{
    display: flex;
     align-items: center;
     margin-right: 10px;
}

.page-logo p{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color:rgb(241, 230, 230);
}




.page-logo img{
    
    width:120px;
    height:auto;
    display:block;
     margin-right: 10px;
     transition:1s;

}

.page-logo img:hover{
    width:130px;
    transition:1s;
}

.container-top{
    display: flex;
    justify-content: flex-end;
    margin-right:80px;
    margin-bottom: 90px;
    margin-top: -70px;
    padding-right: 40px;
}

.nav-bar a{
    position:static;
    padding:20px;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    color:rgb(251, 250, 250);
    position: relative;



     
}
.nav-bar a:hover{
  
  color:aqua;
}



.paragraph{
    width: 45%;
    padding-top:10%;
    margin:70px;
    align-items:center;
    line-height:1.6em;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(217, 220, 231);
}


.paragraph h3{
    color:aliceblue;
    position: absolute;
    top:200px;
    font-size:7vh;
    -webkit-text-stroke: 1px rgb(145, 129, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragraph a{
   position: relative;
   top: 70px;
   right:-120px;
 
  }

  .button{
    padding:20px 30px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    text-decoration: none;
    color:aliceblue;
    font-size: large;
    font-family: 'Lucida Sans';
    font-weight: lighter;
    transition: 1s;
 
  }

  .button:hover{
     background-color: rgb(152, 148, 145);
    border: 1px solid rgb(247, 0, 255);
    border-radius: 40px;

  }



  .profile-image{
    position: absolute;
    bottom:15%;
    left:60%;

    }

    .profile-image img{
        display: flex;
        align-items: end;
        width: 25em;
        height:25em;
        border-radius: 50%;
        border: 2px double rgb(255, 255, 255); 
         animation: round 3s infinite alternate;
             transition: 1s;
        
       
    }


     .profile-image img:hover{
         width: 27em;
        height:27em;
          box-shadow: 0px 0px 700px  rgb(74, 255, 3);
          transition: 1s;
           border: 2px double rgb(153, 46, 234); 
        
 }


 @keyframes round {

    0%{
        box-shadow:0px 0px 700px rgb(251, 3, 3),
        0px 0px 700px rgb(248, 248, 247);
       
    }
    50%{
       box-shadow:0px 0px 700px rgb(251, 3, 3),
        0px 0px 700px rgb(14, 2, 255) ;
    }
    100%{
         box-shadow:0px 0px 700px rgb(47, 0, 255),
        0px 0px 700px rgb(249, 249, 249) ;
    }
    
 }



section{
    height:130vh;
    
}

.ABOUT-ME{
    background: url(green1.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;

    align-items: center;
    justify-content: center;
    display: flex;
}

/*
.profile-cards .card-student{
    width: 300px;
    height:300px;
    padding:10px;
    background: blue;
}*/

.profile-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-10%;
    gap:20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-cards .card-student{
    width: 20%;
    height:30%;
    padding:30px;
    background: rgba(116, 116, 116, 0.15);
    border-radius: 30px;
    border:1px solid rgb(233, 0, 254);
    box-shadow: 0px 0px 20px rgb(145, 129, 165);
     backdrop-filter: blur(30px);
     opacity: 90%;
  -webkit-backdrop-filter: blur(10px);
   transition: 0.3s ease;
   color:white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: lighter;

 
}

.profile-cards .card-student:hover{
     transform: translateY(-5px);
    transition: 0.3s ease;
     border:1px solid rgb(0, 200, 255);

}

.profile-cards .card-student h3{
    text-align: center;
    color:rgb(0, 0, 0);
    padding-bottom:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.profile-cards .card-student p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    
}

.ABOUT-ME .page-footer{
position:absolute;
margin-bottom: -850px;
background:rgb(187, 187, 187);
width: 100%;
height:300px;

}


.page-footer{
    display:flex;
    gap:60vh;
    color:black;
  
    
}

.page-footer .small-paragraph {
    margin-top: 70px;
    margin-left: 30px;
    width: 30%;

}


.page-footer .small-paragraph h2{
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 2px;


}

.links{

  position: relative;
  
   right:100px; 
    
    
}

ul{
    list-style:none; 
    width:20px;
}

.one{
    padding: 12px 110px;
      background-color:rgb(187, 187, 187);
       color: white;
  text-decoration: none;     
  border-radius: 30px;        
  font-weight: 600; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  border:2px solid white;


}

.two{
     padding: 12px 90px;
      background-color:rgb(187, 187, 187);
       color: white;
  text-decoration: none;     
  border-radius: 30px;        
  font-weight: 600; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  border:2px solid white;

}

.three{
     padding: 12px 90px;
      background-color:rgb(187, 187, 187);
       color: white;
  text-decoration: none;     
  border-radius: 30px;        
  font-weight: 600; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
   border:2px solid white;

}

.three:hover{
    border-color: pink;
}

.one:hover{
    border-color: pink;
}

.two:hover{
    border-color: pink;
}



.page-footer .links{
  
    display: flex;
     margin-top: 50px;
     opacity: 95%;
   left:-200px;
    line-height:410%;

}

.page-footer .email-textbox{

  position: relative;
  margin-top: 50px;
  left:-130px;

}

.page-footer .email-textbox .submit{
    position: relative;
     width: 50px;
      margin-top: -42px;
      left:202px;
     color:aliceblue;
      font-weight: bolder;
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       background-color:rgb(196, 200, 200);
}



input{
   
  border:2px solid rgb(255, 255, 255);

    width: 250px;
    height:40px;
    border-radius: 30px;
    
}

.submit{
    display: flex;
   
}

.links .links-control{
    display: flex;
    gap:20px;
     }

    .links .links-control{
        position: absolute;
        margin-left:200px ;

     }




.links{
    position: relative;
    margin-right:30px;
  

    
}

  .links .links-control .fa-brands{
    font-size: xx-large;
    color: white;

  }


  .links .links-control .icon-circle{
    padding:6px;
    border: 2px solid white;
    border-radius: 50px;
  border-radius: 50%;
  background:rgb(187, 187, 187);

  }

   .links .links-control .icon-circle:hover{
    box-shadow: 0px 5px 15px rgb(0, 0, 0);

 }

 #instagram:hover{
     box-shadow: 0px 0px 20px rgb(255, 2, 2);
     border-color: red;
     color:red;

 }

  #whatsapp:hover{
     box-shadow: 0px 0px 20px rgb(96, 193, 40);
     border-color:rgb(96, 193, 40);
     color:rgb(96, 193, 40);

 }
   
 
  #facebook:hover{
     box-shadow: 0px 0px 20px rgb(40, 122, 193);
     border-color:rgb(40, 122, 193);
     color:rgb(40, 122, 193);

 }

 
  #github:hover{
     box-shadow: 0px 0px 20px rgb(0, 0, 0);
     border-color:rgb(219, 234, 12);
     color:rgb(12, 234, 27);

 }
 .email{
   background:rgb(187, 187, 187);
 }


 #aspiring{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(green1.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 
 #student{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(newyork.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 
 #enthusiast{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(under.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }


    

